/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.blog-description {
  color: #999;
}

.post-date {
  font-size: 0.9em;
  color: #999;
}

footer {
  color: #999;
}
