/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.post-date {
    font-size: 0.9em;
}

footer {
    margin-bottom: 1em;
}

pre > code {
    display: block; 
    width: 892px;
}
