.archive-topics-hidden,
.archive-date-hidden,
.archive-title-hidden {
    display: none;
}

.post-date {
    font-size: 0.9em;
}

footer {
    margin-top: 1em;
    margin-bottom: 1em;
}

pre > code {
    display: block; 
    width: 892px;
}

ul.nav {
    margin-top: 0.5em;
    margin-bottom: -0.8em;
}

.archive-input-form-label {
    display: inline-block;
}

.blog-description {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 992px) {
    ul.nav {
        margin-top: -1.5em;
    }
    .archive-input {
        width: 33% !important;
    }
}

@media (min-width: 768px) {
    .archive-input {
        width: 32% !important;
    }
    .archive-input > input {
        width: 100% !important;
    }
}
