<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Programming and stuff...</title>

        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/blog.css">
    </head>
    <body class="text-center container">
        <h1 class="blog-title visible-md-* visible-lg-*">Programming and stuff...</h1>
        <p class="blog-description">A simple blog where I write about programming - mostly JavaScript and C# - the web and whatever else I might think of.</p>
