<div class="panel panel-primary text-left">
    <div class="panel-heading">
        <h1 class="panel-title">
            <a href="--href--">
                --header--
            </a>
        </h1>
    </div>
    <div class="panel-body">    
        <div class="post-content">
            --content--
        </div>
        <div class="text-center">
            <a class="btn btn-primary" href="/"> Back...</a>
        </div>
    </div>
    <div class="panel-footer text-right"> 
        <span class="post-date">--date--</span>
    </div>
</div>
