<div class="post-content">
    --content--
</div>
<hr>
<div class="container-fluid hidden-xs hidden-sm">
    <div class="row text-muted">
        <div class="col-md-4 col-lg-4 text-left">
            --metadata--
        </div>
        <div class="col-md-4 col-lg-4 text-center">
            <a href="/"> Back to main page...</a>
        </div>
        <div class="col-md-4 col-lg-4 text-right">
            --date--
        </div>
    </div> 
</div>
<div class="container-fluid hidden-md hidden-lg">
    <div class="row text-muted">
        <div class="col-xs-6 col-sm-6 text-left">
            --metadata--
        </div>
        <div class="col-xs-6 col-sm-6 text-right">
            --date--
        </div>
    </div>
    <div class="row text-center">
        <a href="/"> Back to main page...</a>
    </div>
</div>
