<div class="post-content">
    --content--
</div>
<hr>
<div class="container-fluid">
    <div class="row text-muted">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
            --metadata--
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
            <a href="/" class="back-link"> Back...</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
            --date--
        </div>
    </div> 
</div>
<script src="/js/post.js"></script>
