<div class="panel panel-primary text-left">
    <div class="panel-heading">
        <h1 class="panel-title">
            <a href="--href--">
                --header--
            </a>
        </h1>
    </div>
    <div class="panel-body preview">
        <div class="preview-text">    
            --content--
        </div>
        <div class="text-center preview-continue">
            <a href="--href--" class="btn btn-success">Continue Reading...</a>
        </div>
    </div>
    <div class="panel-footer text-right"> 
        <span class="post-date">--date--</span>
    </div>
</div>
